<% content_for :title do %>
  Foodlog Home &ndash; <%= DateTime.now.to_fs %>
<% end %>
<!-- Centered column bulma -->
<div class="columns mt-6 is-centered">
  <% @entries.each do |entry| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <%= entry.meal_type %>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p><span class="has-text-weight-bold"><%= entry.calories %></span> calories</p>
            <p><span class="has-text-weight-bold"><%= entry.proteins %></span> proteins</p>
            <p><span class="has-text-weight-bold"><%= entry.carbohydrates %></span> carbohydrates</p>
            <p><span class="has-text-weight-bold"><%= entry.fats %></span> fats</p>
            <p class="is-italic">Logged <%= time_ago_in_words(entry.created_at) %></p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Show', entry, class: 'card-footer-item' %>
          <%= link_to 'Edit', edit_entry_path(entry), class: 'card-footer-item' %>
          <%= link_to 'Destroy', entry, method: :delete, class: 'card-footer-item', confirm: 'Are you sure?' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="columns is-centered mt-6">
  <%= link_to 'View All Entries', archives_index_path, class: 'button is-link is-outlined is-centered' %>
</div>
